.home-links {
  width: 95%;
  height: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-link-group {
  background-color: lightblue;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-link-text {
  font-size: xx-large;
  color: navy;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5vh;
}

.banner-icon {
  margin-left: 10vh;
  height: 70%;
}